# Ticketmaster Discovery API (Events near you). Get a key at https://developer.ticketmaster.com/

# GIPHY Web SDK (event chat GIF picker). Create a key at https://developers.giphy.com/
VITE_GIPHY_API_KEY=
